index.css

/* Reset some browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  background-color: #ffffff;
  padding: 16px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #6aafee;
  margin: 0 16px;
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

.logo {
  color:#6aafee;
  font-size: 24px;
  font-weight: bold;
}

.playground_header {
  font-size: 24px;
  text-align: center;
  color:#6aafee;


}

.playground_header_2 {
  font-size: 20px;
  text-align: left;
  color:#1b4c7b;

}

.submit_answer {
   width: 50%;
  height: 50px;
  font-size: 18px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: block; /* Ensures it's treated as block-level */

}